<div class="sub_chart d-flex flex-column fill-height">
  <div class="card overview-hidden border-0 mb-4">
    <div class="card-body row align-items-center">
      <div class="stat d-flex align-items-center">
        <div class="row justify-content-between w-100">
          <div class="col-7 d-flex">
            <img src="./assets/img/icons/sent.svg" alt="" class="svg-icon">
            <div class="ms-3">
              <h2 class="mb-0">Push Sent</h2>
              <h3 class="mb-2">$10,000</h3>
            </div>
          </div>
          <span class="col-5 text-end">
            <span class="text-success">+</span>0% vs prev. 30 days
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card overview-hidden border-0">
    <div class="card-body row align-items-center">
      <div class="stat d-flex align-items-center">
        <div class="row justify-content-between w-100">
          <div class="col-7 d-flex">
            <img src="./assets/img/icons/revenue.svg" alt="" class="svg-icon">
            <div class="ms-3">
              <h2 class="mb-0">Total Revenue</h2>
              <h3 class="mb-2">$5,00,000</h3>
            </div>
          </div>
          <span class="col-5 text-end">
            <span class="text-success">+</span>0% vs prev. 30 days
          </span>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.d-flex flex-column END -->