<div class="card charts border-0 mb-3">
  <div class="card-header">
    Wallet
  </div>
  <div class="card-body">
    <div class="card-inner mb-4">
      <div class="row">
        <div class="col-md-16">
          <div class="stat-wrapper">
            <div class="circle-wrapper">
              <div>
                <h4 class="balance">$658.75</h4>
                <h6 class="heading">Available Balance</h6>
              </div>
            </div><!-- /.circle END -->
            <svg width="247" height="230" viewBox="0 0 247 230" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_b_7_1390)">
                <path
                  d="M86.9687 4.0463C72.8238 -2.98548 43.2767 -5.85228 38.2475 38.9347C35.89 54.8915 26.1457 93.6204 6.02855 120.882C0.52776 129.537 -9.33898 157.403 20.9593 171.186C30.3892 173.62 52.2352 185.953 64.1797 215.811C67.4297 223.935 85.7114 234.472 108.972 227.981C122.68 224.156 158.322 213.539 195.413 220.679C203.795 222.843 221.031 222.789 222.917 205.263C222.917 171.186 222.917 113.386 242.562 77.8801C251.256 62.1676 249.635 26.2777 215.059 24.3304L183.625 22.7077C175.243 22.7077 144.177 18.9754 86.9687 4.0463Z"
                  fill="white" fill-opacity="0.22" />
              </g>
              <defs>
                <filter id="filter0_b_7_1390" x="-30.4176" y="-30.4176" width="307.835" height="290.835"
                  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feGaussianBlur in="BackgroundImage" stdDeviation="15.2088" />
                  <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_7_1390" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_7_1390" result="shape" />
                </filter>
              </defs>
            </svg>
          </div><!-- /.stat-wrapper END -->
        </div><!-- /.col-md-16 END -->
        <div class="col-md-8">
        </div><!-- /.col-md-8 END -->
      </div><!-- /.row END -->
      <img src="./assets/img/icons/int/not.svg" alt="" class="svg-icon">
      <div class="ms-3">
        <h6 class="title text-gray-900 mb-1">Notification</h6>
        <p class="text small fw-extra bold mb-2 pe-3 pe-md-4">
          Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della.
        </p>
      </div>
    </div>
    <a href="#" class="btn btn-primary w-100 mt-1">
      Add New TopUp
    </a>
  </div>
</div><!-- / END -->