<div class="card charts border-0 mb-3 @@classes">
  <div class="card-header">
    Wallet
  </div>
  <div class="card-body p-0">
    <div class="card-inner mb-4">
      <div class="row align-items-center">
        <div class="col-md-14">
          <div class="stat-wrapper">
            <div class="circle-wrapper">
              <div>
                <h4 class="balance">$658.75</h4>
                <h6 class="heading">Available Balance</h6>
              </div>
            </div><!-- /.circle END -->
            <!-- <svg width="247" height="230"   -->
            <img class="svg" src="/assets/img/bg-st.png" alt="">
          </div><!-- /.stat-wrapper END -->
        </div><!-- /.col-md-16 END -->
        <div class="col-md-10">
          <div class="sm-chart-wrapper added mt-3 mt-md-0">
            <h6 class="heading">Added</h6>
            <div class="chart mb-2 d-flex justify-content-center">
              <span class="ct-chart-ranking "></span>
            </div><!-- /.chart END -->
            <div class="value">+ $4245.00</div><!-- /.value END -->
          </div>
          <div class="sm-chart-wrapper outgoing">
            <h6 class="heading">Outgoing Calls</h6>
            <div class="chart mb-2 d-flex justify-content-center">
              <span class="chart-subscribers "></span>
            </div><!-- /.chart END -->
            <div class="value">+ $44.65</div><!-- /.value END -->
          </div>
        </div><!-- /.col-md-8 END -->
      </div><!-- /.row END -->
    </div>
    <a href="add-new-top-up.html" class="btn btn-primary w-100 mt-1">
      Add New TopUp
    </a>
  </div>
</div><!-- / END -->