<link href="http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&&display=swap"
  rel="stylesheet">
<!-- Core -->
<script src="@@path/assets/js/bootstrap.bundle.min.js"></script>

<!-- Charts -->
<script src="@@path/assets/js/chartist.min.js"></script>
<script src="@@path/assets/js/chartist-plugin-tooltip.min.js"></script>
<script src="@@path/assets/js/chartist-plugin-pointlabels.min.js"></script>

<!-- Sweet Alerts 2 -->
<!-- <script src="@@path/assets/js/sweetalert2.all.min.js"></script> -->

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<!-- <script src="@@path/assets/js/datepicker.min.js"></script> -->

<!-- datepicker-full.min.js -->
<!-- <script src="@@path/assets/js/datepicker-full.min.js"></script> -->

<!-- Notyf -->
<!-- <script src="@@path/assets/js/notyf.min.js"></script> -->

<!-- Waitiyi  JS -->
<script src="@@path/assets/js/waitiyi.js"></script>